body {
    background-color: #F8E5E5;
    font-family: 'Taviraj', serif;
    row-gap: 50px;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.head_img {
    display: flex;
    justify-content: center;
    max-height: 500px;
    max-width: min-content;
    text-align:center;
    margin: 0 auto;
    border: 10px solid #6b9496bc;
}

.headline {
    font-family: 'Taviraj', serif;
    font-size: 60px;
    display: flex;
    justify-content: center;
    color: #6b9496bc;
}

h2 {
    text-align: center;
    font-size: 30px;
    border: none;
}

p {
    margin: 0 20px;
}

.first_area {
    display: grid;
    background-color: #C39EA0;
    color: #FFFF;
    padding-left: 0%;
    max-width: 700px;
    border-radius: 15px;
    box-shadow: 20px 20px #8b7172a1;
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    text-align: justify;
}

.second_area {
    display: grid;
    position: relative;
    float: right;
    background-color: #839A9B;
    color: #ffffff;
    max-width: 700px;
    border-radius: 15px;
    box-shadow: -20px 20px #6b9496bc;
    height: 300px;
    margin-top: 60px;
    margin-right: 50px;
}

.second_list, p {
    padding-left: 20px;
    list-style-type: circle;
    font-size: 16px;    
}

.third_area {
    display: grid;
    background-color: #C39EA0;
    color: #ffffff;
    padding-left: 0%;
    max-width: 700px;
    border-radius: 15px;
    box-shadow: 20px 20px #8b7172a1;
    height: 370px;
    margin-top: 420px;
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: justify;

}

#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 150;
    border: none;
    outline: none;
    background-color: #839a9b91;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #C39EA0;
    color: #405c5d;
}

.social_footer {
    display: block;
    background-color: #405c5d;
    text-align: center;
    /* margin: 10px 0; */
	padding: 10px 25px;
}

.logo {
    width: 40px;
    height: 40px;
}

.social_list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    gap: 15px;
}

@media screen and (max-width: 768px) {

    .first_area, .second_area, .third_area, .social_footer {
        width: 100%;
        max-width: 380px;
        /* position: relative; */

    }

    .head_img {
        width: 100%;
        margin: -7px;
        align-self: center;
    }

    .headline {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
    }

    .first_area {
        margin-top: 20px;
        height: auto;
        justify-content: center;
    }

    .second_area {
        height: auto;
        justify-content: center;
    }

    .third_area {
        height: auto;
    }

    /* .social_list {
        justify-content: center;
    } */

    /* .social_footer {
        width: 100%;
        margin: 100px 0 0 0;
    } */

    body {
        row-gap: 50px;
    }


}